/* Основное содержимое страницы, блок description */
.description {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }