/* Блок footer, элемент column, модификатор content со значением social с заголовком, текстовыми ссылками и логотипами */
.footer__column_content_social {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: white;
  }