/* шапка страницы текстовая ссылка (узнать ->)*/
.header__link {
    text-decoration: none;
    color: #2f80ed;
    margin-left: 5px;
    opacity: 1;
  } 

  .header__link:hover {
    opacity: 0.6;
    transition: all .1s ease-in;
  }