/* блок two-columns c блоками*/
.two-columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    width: 80%;
  }