/* Блок footer, элемент column, модификатор content со значением
copyright логотип + текс*/
.footer__column_content_copyright {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }