/* шапка страницы заголовок первого уровня (Научиться учиться)*/
.header__title {
    left: 64px;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    width: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
  }